<div class="container my-4">
  <h2 class="text-center my-4">О нас</h2>
  <p>MANY HOBBIES — это платформа, где вы можете найти вдохновение для новых хобби, делиться опытом и общаться с единомышленниками. Мы стремимся сделать мир ярче через разнообразие интересов!</p>
</div>

